<header>
  <div class="training_header_title">    
    <%= embedded_svg("dumbbell.svg", class: "dumbell-svg")%>
    <h1 class="title_text">本日のトレーニング</h1>
  </div>
  <div class=""></div>
</header>
<div class="new_training_body">
</div>
<>