<header>
  <%= render partial: 'home/header', locals: { title: "ユーザー登録" } %>
</header>
<div class="new_user_body">
  <%= render partial: 'user_form' %>
</div>
<footer>
  <%= render partial: 'home/footer'%>
</footer>