<div class="header_title">    
  <%= embedded_svg("dumbbell.svg", class: "dumbell-svg")%>
  <h1 class="title_text"><%= title %></h1>
</div>
<div class="current_user_name">
  <%# <%= @user.name.current_user %>
</div>