.home_body {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 480px;
  background-color: #fff;
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    a {
      display: block;
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      font-weight: 500;
    }
    .link_box {
      width: 300px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      margin: 40px auto;
      background-color: #49a9d4;
      border-radius: 10px;
      box-shadow:2px 2px #555;
    }
  }
}