#home_header {
  background-color: skyblue;
  width: 100%;
  margin-top: 0;
}

.home_body {
  ul {
    list-style: none;
    a {
      display: block;
      text-decoration: none;
      color: #333333;
    }
    .link_box {
      width: 300px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      margin: 40px auto;
      background-color: #00ECFF;
      

    }
    
  }
}