#home_header {
  background-color: #00CCFF;
  max-width: 480px;
  height: 80px;
  margin: 0 auto;
  .header_title {
    padding: 5px 10px;
    width: 100%;
    display: flex;
    align-items: center;  
    .dumbell-svg {
      width: 35px;
      height: 35px;
      fill: #fff;
    }
    .title_text {
      color: #fff;
      font-weight: bold;
      font-size: 35px;
    }
  }
}

.home_body {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 480px;
  background-color: #fff;
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    a {
      display: block;
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      font-weight: 500;
    }
    .link_box {
      width: 300px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      margin: 40px auto;
      background-color: #49a9d4;
      border-radius: 10px;
      box-shadow:2px 2px #555;
    }
  }
}

#home_footer {
  background-color: #00CCFF;
  max-width: 480px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  ul {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    list-style: none;
    display: flex;
    justify-content: space-around;
    .footer_link {
      width: 80px;
      text-align: center;
      display: -webkit-box;
      display: -moz-box;
      display: -o-box;
      display: -ms-box;
      display: box;
      -webkit-box-align: center;
      -moz-box-align: center;
      -o-box-align: center; 
      -ms-box-align: center;
      box-align: center;
      a {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
      }
      .home_link-svg {
        width: 30px;
        height: 30px;
        fill: #fff;
      }
      .dumbell_link-svg {
        width: 30px;
        height: 30px;
        fill: #fff;
      }
      .my_page_link-svg {
        width: 30px;
        height: 30px;
        fill: #fff;
      }
    }
    
  }
}